@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @variants responsive {

        /* Hide scrollbar for Chrome, Safari and Opera */
        .no-scrollbar::-webkit-scrollbar {
            display: none;
        }

        /* Hide scrollbar for IE, Edge and Firefox */
        .no-scrollbar {
            -ms-overflow-style: none;
            /* IE and Edge */
            scrollbar-width: none;
            /* Firefox */
        }
    }
}

.custom-gradient-bg {
    background: linear-gradient(135deg, #330066, #9D4CCC); 
}

.custom-gradient-text {
    background: linear-gradient(135deg, #330066, #9D4CCC);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.link-underline {
    border-bottom-width: 0;
    background-image: linear-gradient(transparent, transparent), linear-gradient(135deg,#330066, #9D4CCC);
    background-size: 0 3px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline:hover {
    background-size: 100% 3px;
    background-position: 0 100%
}

@keyframes slide-in {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

.slide-in {
    animation: slide-in 1s ease;
}

@property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}

@property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}
@keyframes counter {
    from {
        --num: 0;
    }
    to {
        --num: 40;
    }
} 